/***** Header *****/
header { 
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
display:flex;
justify-content:space-between;
margin-top: 10px;
color: #0065FC;
padding-bottom: 0;
}

nav a {
text-decoration: none;
padding: 10px;
width: 100%;
}

nav a:hover{border-top: solid 2px #0065FC;
}

.logoimg {
    width: 60px;
    height: 20px;
}

/***** Titres *****/

h1{
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 22px;
line-height: 26px;
color: #000000;
margin-top: 60px;
margin-bottom: 8px;
}
h2{
font-family: 'Raleway';
font-style: normal;
font-weight: 400;
font-size: 16px;
line-height: 19px;
color: #000000;
}

/****** General ***********/
* {
    font-family: 'Raleway', sans-serif;
}

:root {
    --main-color: #0065FC;
    --main-bg-color: #F2F2F2;
    --filter-bg-color: #DEEBFF;
}

.fa-solid {
    color: var(--main-color);
}

body {
    display: flex;
    justify-content: center;
}

.main-container {
    width: 100%;
    max-width: 1440px;
    padding: 0 50px;
    box-sizing: border-box;
}

.section-title {
    margin: 0;
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 22px;
    line-height: 26px;    
    color: #000000;    
}

.card {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
}

.card img {
    object-fit: cover;
}

.card-title {
    font-size: 16px;
}

.euro {
    font-weight: 700;
}

.neutralStar {
    color: var(--main-bg-color)
}
/******* Section recherche *******/
.conteneurs-recherche{
display:flex;
justify-content:flex-start;
margin: 0;
padding: 0;
}

.fa-location-dot{
    background-color: #F2F2F2;
    padding: 15px 18px 16px 18px;
    border-radius: 15px 0px 0px 15px;
    color: black;
}
input{
    font-family: 'Raleway';
    font-style: normal;
    font-weight: 700;
    font-size: 18px;
    text-align: center;
    color: #000000;
    padding: 8px;
    border: 1px solid white;
    margin: 0;
}
button{
background: #0065FC;
border: 1px solid #0065FC;
border-radius: 0px 15px 15px 0px;
font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #FFFFFF;
padding: 14px 16px 14px 16px;
}

/******* Section filtres *******/

.filtre{
    display:flex;
    justify-content:flex-start;
    align-items: center;
    font-family: 'Raleway';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 21px;
text-align: center;
color: #000000;
}
.filtre-concret{
    display:flex;
}
.fifi{
    margin-top: 39px;
}
.fami{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    border-color:#b5b4b4bd;
    margin: 20px 15px 0px 15px;
    padding: 10px 22px;
}
.eco{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    border-color:#b5b4b4bd;
    margin: 20px 15px 0px 15px;
    padding: 10px 22px;
}
.romantique{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    border-color:#b5b4b4bd;
    margin: 20px 15px 0px 15px;
    padding: 10px 22px;
}
.pepite{
    border: 2px solid #D9D9D9;
    border-radius: 25px;
    border-color:#b5b4b4bd;
    margin: 20px 15px 0px 15px;
    padding: 10px 22px;
}
.pepite:hover{
    background: #DEEBFF;
}

/******* Section encart info *******/
.encart{
    display:flex;
    justify-content: flex-start;
    margin: 45px 0px 37.5px 0px;
}
.texte-info{
    width: 1306px;
height: 19px;
font-weight: 400;
font-size: 16px;
line-height: 19px;
margin-left: 10px;
}

/****** Hebergements And Populaires ***********/
.hebergements-and-populaires {
    display: flex;
    justify-content: space-between;
}

.hebergements-and-populaires section {
    background-color: var(--main-bg-color);
    border-radius: 20px;
    padding: 30px;
    box-sizing: border-box;
}

/****** Hebergements ***********/
.hebergements {
    width: 65%;
}

.cards {
    background-color: white;
    border-radius: 20px;
    padding: 5px;
    filter: drop-shadow(0px 3px 15px rgba(0, 0, 0, 0.1));
    width: 230.33px;
    height: 207px;
    margin-bottom: 30px;
}

.hebergements-cards {
    margin-top: 33px;
    display: flex;
    flex-wrap:wrap;
    justify-content: space-between;
    align-content: space-between;
}
.cards img {
    object-fit: cover;
}
.hebergements-cards img {
    height: 124px;
    width: 100%;
    border-radius: 20px 20px 0px 0px;
}
.cards-title {
    font-size: 16px;
    margin: 4px 15px 8px 15px;
}
.cards-subtitle{
    margin: 8px 15px 8px 15px;
}

.cards-rating{
    margin: 8px 0px 15px 15px;
}
.afficher-plus{
font-weight: 700;
font-size: 18px;
}

/****** Populaires ***********/
.populaires {
    width: 32%;
}

.populaires-title {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.populaires-cards .card {
    display: flex;
    margin-top: 33px;
}

.populaires-cards img {
    width: 33%;
    height: 136px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
}

.populaires-cards .card-content {
    width: 67%;
    padding-left: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-sizing: border-box;
}

.populaires-cards .card-title {
    margin-top: 10px;
    margin-bottom: 4px;
}

.populaires-cards .card-subtitle {
    margin: 0;
}

.populaires-cards .card-rating {
    margin-bottom: 5px;
}




/* Le code ci-dessous correspond à la version responsive uniquement */

/****** Media queries ***********/
/* Medium devices (tablets, less/equal than 1024px) */
@media (max-width: 1024px) {
    .hebergements-and-populaires {
        flex-direction: column;
    }

    .hebergements {
        width: 100%;
    }

    .populaires {
        width: 100%;
        margin-top: 50px;
    }

    .populaires-cards {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .populaires-cards .card {
        width: 30%;
    }

    .populaires-cards .card-title {
        font-size: 14px;
    }

    .populaires-cards .card-subtitle {
        font-size: 13px;
    }
}

/* Small devices (phones, less than 768px) */
@media (max-width: 767.98px) {
    /* ... */
}